<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFO</title>
</head>
<body>
    <br><br><br>
    <div style="text-align:center;">
        <p>Go <a href="/">home</a></p>
    </div>
    <br><br>

    <div id="chart1" class="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{graphJSON1 | safe}};
        Plotly.plot('chart1',graphs1,{});
    </script>

    <div id="chart2" class="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs2 = {{graphJSON2 | safe}};
        Plotly.plot('chart2',graphs2,{});
    </script>

    <div id="chart3" class="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs3 = {{graphJSON3 | safe}};
        Plotly.plot('chart3',graphs3,{});
    </script>


</body>
</html>