<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFO</title>
</head>
<body>
    <br><br><br>
    <div style="text-align:center;">
        <p>Go <a href="/">home</a></p>
    </div>
    <br><br>
{% if graphJSON %}
    <div id="chart" class="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
    </script>
{% endif %} 

</body>
</html>